.wrapper-card-blog{
    height: 300px;
    overflow: hidden;
  }

  .img-card-blog{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover .img-card-blog {
    transform: scale(1.1);
  }

  .wrapper-hero {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.wrapper-hero {
  position: relative;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.img-hero {
  position: relative;
  filter: brightness(70%); /* Mengurangi kecerahan gambar secara permanen */
  transition: filter 0.5s ease; /* Efek transisi untuk filter */
}

.text-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
}
